@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .category-card {
    height: 6rem;
    width: 100%;
    border: 2px solid #000000;
    border-top: 6px solid #000000;
    border-bottom: 6px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    background-color: #060ce9;
    grid-auto-rows: 100px;
  }

  .card {
    height: 6rem;
    width: 100%;
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    background-color: #060ce9;
    grid-auto-rows: 100px;
  }

  .overflow-hidden {
    overflow: hidden;
  }
}


.zoomed {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98vw;
  height: 98vh;

  animation-duration: 0.25s;
  animation-name: zoom;
}

@keyframes zoom {
  from {
    transform: translate(-50%, -50%) scale(0.1);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}